* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020315;
  color: white;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw 5vw;
  background-color: #1b1c2d;
}
